*__pycache__/

# Excluding the vector store (its better generated locally)
*vectorstore/

# Excluding the virtual env folder
*chatbot/

# Excluding the data folder
*data/

# Exxcluding binary folders for exe's
*dist/
*build/