body {
    background-color: #1e1e2f;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    background-color: #2e2e48;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Full height of the sidebar */
    box-sizing: border-box;
}

.sidebar h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent long file names from wrapping */
    word-wrap: break-word; /* Allow breaking long file names */
    overflow-wrap: anywhere; /* Ensure long words or links break correctly */
}

.sidebar ul li {
    color: #f8f8f2;
    margin-bottom: 10px;
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowed content */
    overflow: hidden;
    white-space: nowrap; /* Prevent text wrapping */
}

.sidebar button {
    padding: 10px;
    border-radius: 8px;
    color: #f8f8f2;
    border: none;
    cursor: pointer;
    width: 100%; /* Full width inside the sidebar */
    margin-top: 10px; /* Adjust margin to create space between buttons */
    box-sizing: border-box;
}

.sidebar button:hover {
    background-color: #ff79c6;
}

#loading {
    color: #f8f8f2;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.fa-spinner {
    margin-right: 10px;
}

#processDataButton {
    background-color: #50fa7b;
    color: #1e1e2f; /* Green button for Process Data */
}

#processDataButton:hover {
    background-color: #28a745; /* Darker green on hover */
}

#clearVectorStoreButton {
    background-color: #f0ad4e;
    color: #1e1e2f; /* Orange button for Clear Vector Store */
}

#clearVectorStoreButton:hover {
    background-color: #ec971f; /* Darker orange on hover */
}

#clearFilesButton {
    background-color: #ff5555;
}

#clearFilesButton:hover {
    background-color: #ff79c6;
}

#clearChatHistoryButton {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #ffc107;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#clearChatHistoryButton:hover {
    background-color: #e0a800;
}

/* Main content will take up the remaining space */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100vh;
}

/* Title wrapper added */
.title-wrapper {
    margin-bottom: 1px;
}

.title {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #ff79c6;
    width: auto;
    text-align: center;
    margin: 0 auto;
    animation: typing 1s steps(16, end) forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 16ch; }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.chat-box {
    flex-grow: 1; /* Take up the remaining vertical space */
    overflow-y: auto;
    padding: 40px;
    background: #3e3e5e;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.message {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 75%;
    word-wrap: break-word;
    color: #f8f8f2;
    display: inline-block;
    clear: both;
}

.message.user-message {
    background-color: #007BFF;
    color: #ffffff;
    float: right;
    text-align: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
}

.message.bot-message {
    background-color: #4A90E2;
    color: #ffffff;
    float: left;
    text-align: left;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
}

.thinking-dots {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    color: #ffb86c; /* Orange color for the thinking dots */
}

.thinking-dot {
    display: inline-block;
    animation: blink 1s infinite;
    opacity: 0;
}

.thinking-dot:nth-child(1) {
    animation-delay: 0ms;
}

.thinking-dot:nth-child(2) {
    animation-delay: 250ms;
}

.thinking-dot:nth-child(3) {
    animation-delay: 500ms;
}

.notification-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff5555;
    color: #f8f8f2;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0; /* Initially hidden */
    transform: translateY(-100%); /* Hidden above the view */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
}

.notification-bar.show {
    opacity: 1;
    transform: translateY(0); /* Slide down to visible */
}

.notification-bar.success {
    background-color: #28a745;
}

.notification-bar.error {
    background-color: #ff5555;
}

.input-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #44475a;
    background-color: #2e2e48;
    color: #f8f8f2;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    background: #50fa7b;
    color: #282a36;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff79c6;
}

/* Custom styling for the send button icon */
button#sendButton i {
    font-size: 20px;
    color: #282a36;
}

button#sendButton {
    background-color: #50fa7b;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#voiceButton {
    margin-left: 5px;
}

.speak-btn {
    background-color: transparent;  /* Transparent background */
    border: none;                   /* Remove button border */
    cursor: pointer;                /* Show hand cursor on hover */
    font-size: 1.2em;               /* Adjust icon size */
    color: black;                   /* Make the icon black */
    padding: 0;                     /* Remove padding */
}

.speak-btn:hover {
    color: #555;                    /* Optional: Change color on hover */
}

button#sendButton:hover {
    background-color: #ff79c6;
}

button#sendButton i:hover {
    color: #fff;
}

/* Styling for attach icon */
.attach-icon {
    background-color: transparent;
    color: #50fa7b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.attach-icon:hover {
    color: #ff79c6;
}

/* Hide the actual file input element */
input[type="file"] {
    display: none;
}

.file-name {
    margin-right: 5px;
    color: #f8f8f2;
    margin-left: 1px;
    font-size: 14px;
}

/* Code Block Styling */
pre {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

code {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 3px 5px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: #50fa7b;
    margin-bottom: 10px;
}

blockquote {
    border-left: 5px solid #bd93f9;
    margin: 10px 0;
    padding-left: 10px;
    color: #f8f8f2;
}

ul, ol {
    margin-left: 20px;
    color: #f8f8f2;
}

/* Links */
a {
    color: #50fa7b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
